{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="mx-auto col-5 p-3 card shadow-lg" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Reciepe name</label>
          <input type="text" name="receipe_name" required class="form-control">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">receipe description</label>
          <textarea class="form-control" required name="receipe_description">

          </textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Reciepe image</label>
            <input type="file" name="receipe_image" class="form-control">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>

        <button type="submit" class="btn btn-success">Add Receipe</button>
      </form>
  


      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
            {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
                <img src="/media/{{receipe.receipe_image}}" width="200" height="200">
            </td>
            <td><a href="/delete_receipe/{{receipe.id}}/" class="btn btn-danger">Delete</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock  %}